html {
    background-color: #49D292;
    height: 100%;
    font-family: Arial, Helvetica, monospace;

}

body {

    height: 100%;


}

a {
    background: #49D292;
    color:#111111;
    border-radius: 4px;
    padding: 0 2px 0 2px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 1px 0 1px;
    cursor: pointer;
}

a:link {
    color:#111111;
}

/* visited link */
a:visited {
    color:#111111;
}

/* mouse over link */
a:hover {
    background-color: #123524;
    color: #49D292;
}

/* selected link */
a:active {
    color:#111111;
}


p {
    white-space: pre-wrap;
}

.main {
    margin: 0;
    max-width: 600px;
    height: 100%;

}


.block {
    min-height: 100%;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;

    background-color: #111111;
    color: #49D292;
}

.block img {
    padding: 1em;
    width: 90%;
}

.block h1 {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.block h1 a {
    all: unset;
    background-color: #111111;
    color: #49D292;
    cursor: pointer;

}


/* mouse over link */
.block h1 a:hover {
    background-color: #123524;
    color: #49D292;
}

/* .main .block:nth-child(2n) {
    color: #FD7F20;
} */


.sticky {
    position: fixed;
    margin-left: 630px;
    width: 300px;
    height: 100%
}


.arrow {
    position: fixed;
    bottom: 10px;
    margin-left: 0.1em;
    color: #49D292;
    font-size: 3em;
    text-shadow: 1px 3px #111111;

    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}


@media only screen and (max-width: 700px) {
    .sticky {
        display: none;
    }

    .main {
        width: 100%;
        max-width: 700px;

    }
}

.youtube {
    position: relative;
    width: 100%;
    height: 0;
    margin-top: 1em;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}