<header class="header">
      <span><a href="mailto:johannes.valbjorn+supernihil@gmail.com">[contact]</a></span>

      <a href="{{@website.url}}">
         <img src="{{@website.mediaFilesUrl}}/logo.png" alt="">
      </a>
</header>